<!-- Data layer -->
<script type='text/javascript'>
	dataLayer = [{
	"timestamp":1617119895,
	"contentType":"story",
	"canonicalURL":"https:\/\/projects.seattletimes.com\/\/2021\/sports\/seattle-mariners-starting-lineup\/",
	"domain":"www.seattletimes.com",
	"post_id":<%= json.project.post_id %>,
	"author":"<%= json.project.author %>",
	"publishdate":"2021-03-30 06:00:00",
	"modifieddate":"2021-03-30 09:00:00",
	"title": "<%= json.project.title %>",
	"credit":"Seattle Times staff",
	"tags":"Mariners",
	"categories":"",
	"galleryType":"standard",
	"age":0,
	"source":"ST-Projects",
	"meter":"on",
	"ads":"off",
	"allowComments":"on",
	"section_tier1":"sports",
	"section_tier2":"mariners",
	"sections_all":"mariners|sports",
	"othersections":"",
	"internalTags":"Projects",
	"hasVisuals": true,
	"videos": 0,
	}];
</script>
